<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ino.web.freeBoard.mapper.FreeBoardMapper">


	<select id="freeBoardGetList" resultType="freeBoardDto" parameterType ="map" > <!-- resultType="ino.web.board.dto.BoardDto" -->
		SELECT *
		FROM (SELECT CODE_TYPE, NUM, NAME, TITLE, CONTENT, TO_CHAR(REGDATE , 'YYYY/MM/DD') AS REGDATE,
		case when CODE_TYPE = '01' THEN '자유'
		when CODE_TYPE = '02' THEN '익명'
		ELSE 'qna' END AS codeType,ROW_NUMBER() OVER(ORDER BY NUM DESC) AS RNUM
		         FROM FREEBOARD )WHERE RNUM BETWEEN #{startrow} AND #{endrow}
		<if test="optionvalues == 1">
   		AND CODE_TYPE = #{codeType} 
  		</if>
  		<if test="optionvalues == 2">
   		AND name = #{name}
  		</if>
  		<if test="optionvalues == 3">
   		AND  title = #{title}
  		</if>
  		<if test="optionvalues == 4">
   		 AND content = #{content} 
  		</if>
  		<if test="optionvalues == 5">
   		AND  NUM = #{num}
  		</if>
  		<if test="optionvalues == 6">
   		AND TO_CHAR(REGDATE,'YYYYMMDD')  BETWEEN #{regdate} AND #{regdate2}
  		</if>
  	
  		order by NUM DESC
  	</select>
  	
  	<select id = "listCount" resultType = "int" parameterType ="map">
  		SELECT COUNT(NUM)
		  FROM FREEBOARD
		 WHERE NUM > 0
		<if test="optionvalues == 1">
   		AND CODE_TYPE = #{codeType} 
  		</if>
  		<if test="optionvalues == 2">
   		AND name = #{name}
  		</if>
  		<if test="optionvalues == 3">
   		AND  title = #{title}
  		</if>
  		<if test="optionvalues == 4">
   		 AND content = #{content} 
  		</if>
  		<if test="optionvalues == 5">
   		AND  NUM = #{num}
  		</if>
  		<if test="optionvalues == 6">
   		AND TO_CHAR(REGDATE,'YYYYMMDD')  BETWEEN #{regdate} AND #{regdate2}
  		</if>
  	</select>

	

	<insert id="freeBoardInsertPro" parameterType="freeBoardDto">
		INSERT INTO FREEBOARD(CODE_TYPE, TITLE, NAME, REGDATE, CONTENT,NUM)
		VALUES(#{codeType}, #{title}, #{name}, SYSDATE, #{content}, num.nextval)
	</insert>

	<select id="freeBoardDetailByNum" resultType="freeBoardDto" parameterType="int">
		SELECT CODE_TYPE AS codeType, NUM, TITLE, NAME, TO_CHAR(REGDATE,'YYYY/MM/DD') REGDATE, CONTENT FROM FREEBOARD
		WHERE NUM=#{num}
	</select>

	<select id="freeBoardNewNum" resultType="int">
		SELECT MAX(NUM)
		FROM FREEBOARD
	</select>

	<update id="freeBoardModify" parameterType="freeBoardDto">
		UPDATE FREEBOARD
		SET TITLE = #{title}
				, CONTENT = #{content}
		WHERE NUM = #{num}

	</update>
	<select id = "selectTenBoard" resultType = "freeBoardDto">
		select * from (select * from FREEBOARD) where NUM between #{startrow} and #{endrow} order by num desc;
	</select>

	<update id="freeBoardDelete" parameterType="int">
		DELETE FROM FREEBOARD
		WHERE NUM
		= #{num}
	</update>
	<update id="freeBoardDelete1" parameterType="int">
		DELETE FROM FREEBOARD
		WHERE NUM
		in
	<foreach collection="list" item = "num" separator="," index="index" open="(" close=")">
		#{num}
	</foreach>
	</update>


</mapper>